
## <summary>policy for mrv_coin</summary>


########################################
## <summary>
##	Transition to mrv_coin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`mrv_coin_domtrans',`
	gen_require(`
		type mrv_coin_t, mrv_coin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, mrv_coin_exec_t, mrv_coin_t)
')


########################################
## <summary>
##	Execute mrv_coin server in the mrv_coin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mrv_coin_initrc_domtrans',`
	gen_require(`
		type mrv_coin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, mrv_coin_initrc_exec_t)
')


########################################
## <summary>
##	Search mrv_coin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mrv_coin_search_lib',`
	gen_require(`
		type mrv_coin_var_lib_t;
	')

	allow $1 mrv_coin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read mrv_coin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mrv_coin_read_lib_files',`
	gen_require(`
		type mrv_coin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, mrv_coin_var_lib_t, mrv_coin_var_lib_t)
')

########################################
## <summary>
##	Manage mrv_coin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mrv_coin_manage_lib_files',`
	gen_require(`
		type mrv_coin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, mrv_coin_var_lib_t, mrv_coin_var_lib_t)
')

########################################
## <summary>
##	Manage mrv_coin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`mrv_coin_manage_lib_dirs',`
	gen_require(`
		type mrv_coin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, mrv_coin_var_lib_t, mrv_coin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a mrv_coin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`mrv_coin_admin',`
	gen_require(`
		type mrv_coin_t;
		type mrv_coin_initrc_exec_t;
		type mrv_coin_var_lib_t;
	')

	allow $1 mrv_coin_t:process { ptrace signal_perms };
	ps_process_pattern($1, mrv_coin_t)

	mrv_coin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 mrv_coin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, mrv_coin_var_lib_t)

')

