policy_module(mrv_coin, 1.100.1)

########################################
#
# Declarations
#

type mrv_coin_t;
type mrv_coin_exec_t;
init_daemon_domain(mrv_coin_t, mrv_coin_exec_t)

permissive mrv_coin_t;

type mrv_coin_initrc_exec_t;
init_script_file(mrv_coin_initrc_exec_t)

type mrv_coin_conf_t;
files_type(mrv_coin_conf_t)

type mrv_coin_var_lib_t;
files_type(mrv_coin_var_lib_t)

type mrv_coin_var_run_t;
files_type(mrv_coin_var_run_t)

type mrv_coin_port_t;
corenet_port(mrv_coin_port_t)

########################################
#
# mrv_coin local policy
#
allow mrv_coin_t self:process { fork };

allow mrv_coin_t self:fifo_file rw_fifo_file_perms;
allow mrv_coin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(mrv_coin_t, mrv_coin_conf_t, mrv_coin_conf_t)
manage_files_pattern(mrv_coin_t, mrv_coin_conf_t, mrv_coin_conf_t)

manage_dirs_pattern(mrv_coin_t, mrv_coin_var_lib_t, mrv_coin_var_lib_t)
manage_files_pattern(mrv_coin_t, mrv_coin_var_lib_t, mrv_coin_var_lib_t)
files_var_lib_filetrans(mrv_coin_t, mrv_coin_var_lib_t, { dir file })

manage_dirs_pattern(mrv_coin_t, mrv_coin_var_run_t, mrv_coin_var_run_t)
manage_files_pattern(mrv_coin_t, mrv_coin_var_run_t, mrv_coin_var_run_t)

sysnet_dns_name_resolve(mrv_coin_t)
corenet_all_recvfrom_unlabeled(mrv_coin_t)

allow mrv_coin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(mrv_coin_t)
corenet_tcp_sendrecv_generic_node(mrv_coin_t)
corenet_tcp_sendrecv_all_ports(mrv_coin_t)
corenet_tcp_bind_generic_node(mrv_coin_t)

gen_require(`
    type mrv_coin_port_t;
')
allow mrv_coin_t mrv_coin_port_t:tcp_socket name_bind;

gen_require(`
    type mrv_coin_port_t;
')
allow mrv_coin_t mrv_coin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(mrv_coin_t)

files_read_etc_files(mrv_coin_t)

miscfiles_read_localization(mrv_coin_t)

sysnet_dns_name_resolve(mrv_coin_t)

allow mrv_coin_t mrv_coin_exec_t:file execute_no_trans;
allow mrv_coin_t self:process setsched;
corecmd_exec_ls(mrv_coin_t)
corenet_tcp_connect_http_port(mrv_coin_t)
dev_read_urand(mrv_coin_t)
fs_getattr_xattr_fs(mrv_coin_t)
kernel_read_system_state(mrv_coin_t)
